.AppContent {
  height: 350px;
  overflow-y: auto;
  position: relative;
  transition: transform 150ms;
}
.AppLine {
  background: #eee;
  border-bottom: 1px solid #fff;
  padding: 0 1rem;
  height: 64px;
}
  .AppLine:focus {
    background: #aaa;
    outline: none;
  }
  .AppLine:hover {
    background: #aaa;
    cursor: pointer;
  }